# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
adamp==0.3.0
cudatoolkit==11.1.74
cython==0.29.23
einops==0.3.2
gulpio==540.66
ipython==7.24.1
matplotlib==3.4.2
nltk==3.6.2
numpy==1.21.2
opencv-python==4.5.2.52
pycocotools==2.0.2
python==3.8.12
pytorch==1.8.1
scipy==1.6.2
torchaudio==0.8.1
torchtext==0.9.1
torchvision==0.9.1
tqdm==4.62.3
transformers==4.16.2
wandb==0.10.31
yaml==0.2.5